#header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #48284A;
}

img {
    height: 15%;
    width: 15%;
}

#overallScore {
    width: 50%;
    margin: auto;
}
