progress {
    border-radius: 7px; 
    height: 22px;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: #BDEFEF;
    border-radius: 7px;
  }

  progress::-webkit-progress-value {
    background-color: #1B7474;
    border-radius: 7px;
  }